body {
  overflow-x: hidden; 
}

.container-fluid {
  overflow-x: hidden;
}

.card {
  margin-bottom: 30px;
}

.content {
  padding: 20px;
}

.definition { 
  width: 800px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.definition h4 { 
  font-size: 30px;
}

.content h1{
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-center {
  font-size: 2rem;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  width: 100%;
  margin-bottom: -50px;
  margin-top: 200px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li:last-child {
  margin-bottom: 0;
}

.footer h4 {
  margin-top: 0;
}

.footer .list-inline li a i {
  font-size: 2em;
}

.modal-dialog {
  max-width: 800px;
  margin: 1.75rem auto;
}

.social-icons li a {
  font-size: 14px;
}

.my-icon {
  margin-top: 20px;
  margin-left: 20px;
}

.nav-link, .dropdown-item {
  color: black;
  text-decoration: none;
}

.nav-link i {
  color: black;
}

.hover-card {
  position: relative;
}

.hover-card .card-content {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
  pointer-events: none;
}

.hover-card:hover .card-content {
  display: block;
}

.col-md-12 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo-img { 
  width: 90%;
}

.homepage-btn{
  margin: 0 auto;
}

.homepage-btn button { 
  width: 300px;
  height: 40px;
  background-color: beige;
  font-size: 20px;
  border-radius: 10px;
}

.homepage-btn a {
  text-decoration: none ;
}