.nav-link, .dropdown-item {
  color: black;
  text-decoration: none;
}

.nav-link i {
  color: black;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  margin-top: 500px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li:last-child {
  margin-bottom: 0;
}

.footer h4 {
  margin-top: 0;
}

.footer .list-inline li a i {
  font-size: 2em;
}

.profile h2 {
  text-align: center;
}

.profile p {
  text-align: center;
}

.profile form {
  margin-left: 700px;
}