.register-container {
  width: 40%;
  height: 600px;
  margin-left: 30%;
  margin-top: 7%;
  border-radius: 5%;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.register-container h1 {
  padding-top: 40px;
  text-align: center;
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}
  
.register-container label {
  margin-top: 1%;
  display: flex;
  margin-left: 16%;
  font-size: 22px;
}

.register-container input {
  margin-left: 16%;
  width: 500px;
  height: 25px;
  border-radius: 10px;
}

.register-container textarea {
  margin-left: 27%;
}

.register-container button {
  display: flex;
  width: 15%;
  height: 40px;
  margin-top: 8%;
  margin-left: 42%;
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
  padding-left: 2%;
  border-radius: 10px;
}