.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.title {
  font-size: 5rem;
}

.timer {
  margin-top: 150px;
  height: 55vh;
}

.timer-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.timer-display {
  font-size: 4rem;
  display: flex;
  text-align: center;
  margin-left: 375px;

}

.separator {
  font-size: 3rem;
}

.controls {
  margin-top: 2rem;
}

.reset-btn {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  background-color: black;
  color: white;
}

.start-btn{
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  background-color: black;
  color: white;
}

.reset-btn:hover {
  background-color: white;
  color: black
}

.start-btn:hover {
  background-color: white;
  color: black
}

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li:last-child {
  margin-bottom: 0;
}

.footer h4 {
  margin-top: 0;
}

.footer .list-inline li a i {
  font-size: 2em;
}

.social-icons li a {
  font-size: 14px;
}

.nav-link, .dropdown-item {
  color: black;
  text-decoration: none;
}

.nav-link i {
  color: black;
}

.pause-btn {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-left: 0;
}

.pause-btn:active {
  background-color: red;
  color: white;
}

.resume-btn {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-left: 0;
}

.resume-btn:active {
  background-color: rgb(0, 255, 0);
  color: black;
}

.plus {
  cursor: pointer;
  height: 30px;
}

.minus {
  cursor: pointer;
  height: 30px;
}